ul,
ol,
input {
	margin: 0;
	padding: 0;
}
/*登录注册超链接*/
.login-a{
	margin:5px;
}
.login-a:hover{
	text-decoration:none;
}


.forget-a{
	color:#555;
	margin-left: 70px;
}
.forget-a:hover{
	text-decoration:none;
	color: #1B9AF7;
}



/*手机下载*/
.app-text{
	height:50px;
	width:100%;
	margin: 100px auto 0 auto;
}



/*热门兴趣类型*/
.home_imgs{
  overflow:hidden;
}
.home_imgs img{
  transition:.6s;
  -moz-transition:.6s;
  -webkit-transition:.6s;
  -o-transition:.6s;
  line-height:1em;
}
.home_imgs:hover img{
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
}
.hot_div{
	width: 280px;
	float: left;
	margin-right: 20px;
}
.home_imgs h3, p {
	font-family: 微软雅黑;
}


/*右下角流动框*/
.fixed-btn {
	position:fixed;
	right:1%;
	bottom:2%;
	width:40px;
	border:1px solid #eee;
	background-color:white;
	font-size:25px;
}
.fixed-btn a {
	display:inline-block;
	width:40px;
	height:30px;
	text-align:center;
}




/*照片墙*/
#out_nav{
	width:1245px;
}
.in_div{
	position:relative;
	float:left;
	width:200px;
	margin:0;
	padding:0;
}
.little_div{
	position:relative;
	width:100px;
	height:100px;
	float:left;
	margin:0;
	padding:0;
}






/*照片墙遮罩层*/
.img,.border,.mask{
	width:200px;
	height:200px;
}
.img_min,.border_min,.mask_min {
	width:100px;
	height:100px;
}
.img,.img_min{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
.border,.border_min{
	position:absolute;
	top:0;
	left:0;
}
.mask,.mask_min{
	position:absolute;
	top:0;
	left:0;
	border-radius:0%;
	-webkit-transition:all .5s ease-in;
	transition:all .5s ease-in;
	color:rgba(255, 255, 255, 0);
}
.in_div:hover .mask,.little_div:hover .mask_min{
	background-color:rgba(0, 0, 0, 0.5);
	color:rgba(255, 255, 255, 1);
}
.info,.info_min{
	position:relative;
	width:100%; 
	top:30%; 
	text-align:center; 
	-webkit-transform:translateY(-50%);
}
.in_div h4,h5 {
	font-family: 微软雅黑;
}


/*
 * 登入后样式
 */

li {
	list-style: none;
}

.l {
	float: left;
}

.r {
	float: right;
}

.g-user-card .card-links {
	position: relative;
	height: 60px;
	line-height: 60px;
}

.g-user-card .card-links a,
.g-user-card .card-links .split {
	position: absolute;
}

.g-user-card .card-links .split {
	left: 150px;
	top: 0;
	margin-top: 15px;
	width: 1px;
	height: 30px;
	background-color: #edf1f2;
}

.g-user-card .card-links a {
	left: 20px;
	top: 0;
	font-weight: bold;
	text-decoration: none;
}

.g-user-card .card-links a:hover {
	font-weight: bold;
	font-size: medium;
}

.g-user-card .card-links .my-sns {
	left: 172px;
}

.g-user-card .card-links {
	margin-bottom: -1px;
	border-bottom: 1px solid #edf1f2;
}

.g-user-card .card-sets {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
}

.g-user-card .card-sets a {
	color: #787d82;
	text-decoration: none;
}

.g-user-card .card-sets a:hover {
	color: #f01400;
	text-decoration: none;
}

#login-area {
	float: left;
	margin-left: 5px;
}

.clearfix:after {
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	*zoom: 1;
}

.logined > li {
	float: left;
}

.logined li > a {
	display: block;
	color: #787d82;
	text-align: center;
	text-decoration: none;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.logined li > a:hover {
	color: #fff;
	background-color: #363c41;
	text-decoration: none;
}

.set_btn {
	right: 0px;
}

.set_btn a.hover {
	background-color: #363d40;
	text-decoration: none;
}

.set_btn img {
	border-radius: 22px;
	border: 1px solid #adb0b1;
}

.user-card-box {
	position: relative;
}

.user-card-box:hover .g-user-card {
	visibility: visible;
}

.user-card-box:hover .user-card-item img {
	border-color: #f22c1a;
}

#header-avator:hover {
	background-color: transparent;
}

.myspace_remind {
	width: 10px;
	height: 10px;
	background: url(/static/img/space-remind.png) no-repeat 0 0;
	position: absolute;
	top: 10px;
	right: 10px;
}

.g-user-card {
	position: absolute;
	right: 0;
	top: 100%;
	width: 300px;
	padding-top: 10px;
	visibility: hidden;
	z-index: 1000;
}

.g-user-card .card-inner {
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.g-user-card .card-top {
	padding-left: 100px;
	height: 100px;
	background-color: blue;
	color: #fff;
}

.g-user-card .card-top img {
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #fff;
	margin: 20px 0 0 -82px;
}

.g-user-card .card-top .name {
	display: block;
	padding-top: 30px;
	font-size: 18px;
}

.g-user-card .card-top .meta {
	font-size: 12px;
	font-weight: bold;
}

.g-user-card .card-top .meta a {
	color: #fff;
	margin-right: 12px;
}

.g-user-card .card-top .meta b {
	margin-left: 2px;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.g-user-card .card-sets {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
}

.g-user-card .card-sets a {
	color: #787d82;
	text-decoration: none;
}

.g-user-card .card-sets a:hover {
	color: black;
	text-decoration: none;
}

.g-user-card .card-arr {
	position: absolute;
	right: 23px;
	top: 2px;
	border-width: 0 7px 8px 7px;
	border-color: transparent transparent #f01400 transparent;
	border-style: solid;
}
